*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
button{
	border: none;
	outline: none;
}
.bold{font-weight: 600;}
.justify{text-align: justify;}
.bg-black{background-color: #30475e;}
.bg-blue{background-color: #0c2461;}
.bg-white{background-color: #ffffff;}
.c-blue{color: #30475e;}
.t-left{text-align: left}
.t-right{text-align: right}

